body {
    font-family: Calibri;
    width:800px;
    display: table-cell;
}
html {    
    max-width: 800px;
    height: 100%;
}

html {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
nav {
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-size: 22px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
    cursor: pointer; cursor: hand;
}

article {
    padding-left: 50px;
    padding-right:50px;
    padding-top:50px;
}